.App {
  font-family: sans-serif;
  text-align: center;
}
.loading-button {
  display: flex;
  justify-content: center;
  font-size: 16px;
  background: skyblue;
  padding: 8px 16px;
  margin: 0px auto;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}

/* Styles for the form element */
form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px auto;
  padding: 20px;
  gap: 20px;
}

/* Styles for the "Submit" button */
button.f[type="submit"] {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles for the "Email" input field */
input[type="email"] {
  width: 100%;
}

/* Card Container */
.profile-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin: 0px auto;
  padding: 20px;
  gap: 20px;
}

/* Profile Picture */
.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #f0f0f0;
  overflow: hidden;
  object-fit: cover;
}

/* Details Container */
.details-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Name */
.profile-name {
  font-size: 24px;
  font-weight: bold;
}

/* Age */
.profile-age {
  font-size: 16px;
  color: #888;
}

/* Address */
.profile-address {
  font-size: 16px;
}

/* Contact */
.profile-contact {
  font-size: 16px;
  color: #007bff;
}

