.pulse-container {
  &.pulse-container-css{
    .flex {
      display: flex;
    }
    @keyframes pulse {
      50% {
        opacity: .5;
      }
    }
    .animate-pulse {
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
    .flex-col {
      flex-direction: column;
    }
    .opacity-0 {
      opacity: 0;
    }
    .transition-all {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
    .pulse-element{
      color: transparent !important;
      border: 0 !important;
      position: relative !important;
      background-color: transparent !important;
    }
    .pulse-child-element{
      opacity: 0 !important;
    }
    .pulse-child{
      position: absolute !important;
      z-index: 1 !important;
      width: 100% !important;
      height: 70% !important;
      top: 15% !important;
      left: 0 !important;
      border-radius: 5px !important;
      background-color: #bebebe82 !important;
    }
  }
}
