.pulse-container {
  &.pulse-container-css{
    .transform {
      -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
              transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    pointer-events: none !important;
    user-select: none;
    /* Standard syntax */
    @-webkit-keyframes wave-lines {
      0% {
        background-position: -468px 0;
      }

      100% {
        background-position: 468px 0;
      }
    }
    @keyframes wave-lines {
      0% {
        background-position: -468px 0;
      }

      100% {
        background-position: 468px 0;
      }
    }
    @-webkit-keyframes wave-squares {
      0% {
        background-position: -468px 0;
      }

      100% {
        background-position: 468px 0;
      }
    }
    @keyframes wave-squares {
      0% {
        background-position: -468px 0;
      }

      100% {
        background-position: 468px 0;
      }
    }
    &.pulse-calculating{
      outline: none !important;
      opacity: 0 !important;
    }
    .pulse-animate{
      background: var(--color-transparent-light, rgba(130, 130, 130, 0.2));
      /* Fallback value */
      background: linear-gradient(to right, var(--color-transparent-light, rgba(130, 130, 130, 0.2)) 8%, var(--color-transparent-medium, rgba(130, 130, 130, 0.3)) 18%, var(--color-transparent-light, rgba(130, 130, 130, 0.2)) 33%);
      background-size: 800px 100px;
      -webkit-animation: wave-lines 2s infinite ease-out;
              animation: wave-lines 2s infinite ease-out;
    }
    .pulse-svg-cont{
      position: absolute !important;
      z-index: 1 !important;
      width: 100% !important;
      height: 100% !important;
      top: 0 !important;
      left: 0 !important;
      svg{
        position: absolute !important;
        -webkit-transform: translate(-50%, -50%) !important;
                transform: translate(-50%, -50%) !important;
        left: 50% !important;
        top: 50% !important;
      }
    }
    .pulse-element{
      outline: none !important;
      color: transparent !important;
      border: 0 !important;
      position: relative !important;
      background-color: transparent !important;
    }
    .pulse-child-element{
      outline: none !important;
      opacity: 0 !important;
    }
    .pulse-child-rect{
      position: absolute !important;
      z-index: 1 !important;
      width: 100% !important;
      height: 70% !important;
      top: 15% !important;
      left: 0 !important;
      border-radius: 5px !important;
    }
    .pulse-child-para-cont{
      background-color: transparent !important;
      position: absolute !important;
      z-index: 1 !important;
      width: 100% !important;
      height: 100% !important;
      top: 0% !important;
      left: 0 !important;
      display: flex !important;
      flex-direction: column !important;
      justify-content: space-between !important;
    }
    .pulse-child-para{
      position: relative !important;
      z-index: 1 !important;
      border-radius: 5px !important;
      width: 100% !important;
    }
    .pulse-child-rect-full{
      position: absolute !important;
      z-index: 1 !important;
      width: 100% !important;
      height: 100% !important;
      top: 0% !important;
      left: 0 !important;
      border-radius: 5px !important;
    }
    .pulse-child-circle{
      position: absolute !important;
      z-index: 1 !important;
      width: 90% !important;
      height: 90% !important;
      top: 5% !important;
      left: 5% !important;
      border-radius: 100% !important;
    }
    .pulse-child-hidden{
      opacity: 0 !important;
    }
    .pulse-child-rect-sharp{
      position: absolute !important;
      z-index: 1 !important;
      width: 100% !important;
      height: 70% !important;
      top: 15% !important;
      left: 0 !important;
    }
  }
}
