.pulse-container {
  &.pulse-container-css{
    @tailwind utilities;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */

    pointer-events: none !important;

    user-select: none; /* Standard syntax */




    @keyframes wave-lines {
      0% {
        background-position: -358px 0;
      }
      100% {
        background-position: 438px 0;
      }
    }

    @keyframes wave-lines-reverse {
      0% {
        background-position: 358px 0;
      }
      100% {
        background-position: -438px 0;
      }
    }

    &.pulse-calculating{
      outline: none !important;
      opacity: 0 !important;
    }

    .pulse-animate-none{
      background: var(--color-transparent-medium, rgba(130, 130, 130, 0.2));
     }

    .pulse-animate{
      @apply animate-pulse;
      background: var(--color-transparent-light, rgba(130, 130, 130, 0.2));
     }

    .pulse-animate-wave{
      background: var(--color-transparent-light, rgba(130, 130, 130, 0.2));
      background: -webkit-gradient(linear, right top, left top, color-stop(8%, var(--color-transparent-light, rgba(130, 130, 130, 0.2))), color-stop(18%, var(--color-transparent-medium, rgba(130, 130, 130, 0.3))), color-stop(33%, var(--color-transparent-light, rgba(130, 130, 130, 0.2))));
      background: linear-gradient(to right, var(--color-transparent-light, rgba(130, 130, 130, 0.2)) 8%, var(--color-transparent-medium, rgba(130, 130, 130, 0.3)) 18%, var(--color-transparent-light, rgba(130, 130, 130, 0.2)) 33%);
      background-size: 800px 100px;

      animation: wave-lines 2s infinite ease-out;
     }

    .pulse-animate-wave-reverse{

      background: var(--color-transparent-light, rgba(130, 130, 130, 0.2));
      background: -webkit-gradient(linear, right top, left top, color-stop(33%, var(--color-transparent-light, rgba(130, 130, 130, 0.2))), color-stop(18%, var(--color-transparent-medium, rgba(130, 130, 130, 0.3))), color-stop(8%, var(--color-transparent-light, rgba(130, 130, 130, 0.2))));
      background: linear-gradient(to left, var(--color-transparent-light, rgba(130, 130, 130, 0.2)) 8%, var(--color-transparent-medium, rgba(130, 130, 130, 0.3)) 18%, var(--color-transparent-light, rgba(130, 130, 130, 0.2)) 33%);
      background-size: 800px 100px;


      animation: wave-lines-reverse 2s infinite ease-in-out;
     }

    .pulse-svg-cont{
      position: absolute !important;
      z-index: 1 !important;
      width: 100% !important;
      height: 100% !important;
      top: 0 !important;
      left: 0 !important;
      opacity: 0.7;
        svg{
          position: absolute !important;
          transform: translate(-50%, -50%) !important;
          left: 50% !important;
          top: 50% !important;
        }
    }

    .pulse-child{
      position: absolute !important;
      z-index: 1 !important;
      width: 100% !important;
     }

    .pulse-no-rounded{
      border-radius: 0px !important;
     }

    .pulse-element{
      outline: none !important;
      color: transparent !important;
      border: 0 !important;
      position: relative !important;
      background-color: transparent !important;
    }

    .pulse-child-element{
      outline: none !important;
      opacity: 0 !important;
    }

    .pulse-child-rect{
      height: 70% !important;
      top: 15% !important;
      left: 0 !important;
      border-radius: 5px;
     }

    .pulse-child-para-cont{
      background-color: transparent !important;
      height: 100% !important;
      top: 0% !important;
      left: 0 !important;

      display: flex !important;
      flex-direction: column !important;
      justify-content: space-between !important;
     }

    .pulse-child-para{
      border-radius: 5px;
     }

    .pulse-child-rect-full{
      height: 100% !important;
      top: 0% !important;
      left: 0 !important;
      border-radius: 5px;
     }

    .pulse-child-circle{
      width: 90% !important;
      height: 90% !important;
      top: 5% !important;
      left: 5% !important;
      border-radius: 100% !important;
    }

    .pulse-child-hidden{
      opacity: 0 !important;
    }
  }
}
