.pulse-container {
  &.pulse-container-css{
    @tailwind utilities;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    &.pulse-calculating{
      opacity: 0 !important;
    }

    .pulse-animate{
      @apply animate-pulse;
     }

    .pulse-element{
      color: transparent !important;
      border: 0 !important;
      position: relative !important;
      background-color: transparent !important;
    }

    .pulse-child-element{
      opacity: 0 !important;
    }

    .pulse-child{
    }

    .pulse-child-rect{
      position: absolute !important;
      z-index: 1 !important;
      width: 100% !important;
      height: 70% !important;
      top: 15% !important;
      left: 0 !important;
      border-radius: 5px !important;
     }

    .pulse-child-circle{
      position: absolute !important;
      z-index: 1 !important;
      width: 90% !important;
      height: 90% !important;
      top: 5% !important;
      left: 5% !important;
      border-radius: 100% !important;
    }
  }
}
