.pulse-container {
  &.pulse-container-css{

    @tailwind utilities;

    .pulse-element{
      color: transparent !important;
      border: 0 !important;
      position: relative !important;
      background-color: transparent !important;
    }

    .pulse-child-element{
      opacity: 0 !important;
    }

    .pulse-child{
      position: absolute !important;
      z-index: 1 !important;
      width: 100% !important;
      height: 70% !important;
      top: 15% !important;
      left: 0 !important;
      border-radius: 5px !important;
    }

  }
}
